name: build and push to docker hub

on:
  issue_comment:
    types: [created, edited, deleted]
  
jobs:
  build-server:
    if: ${{ startsWith(github.event.comment.body, '[build]') }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./japangi-server

    steps:
      - uses: actions/checkout@v3

      - name: setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: build server application
        run: |
          ./gradlew clean
          ./gradlew build -x test

      - name: login docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_EMAIL }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: docker build and push to hub server applicaiton
        run: |
          docker build -t wwan13/japangi-server:prod .
          docker push wwan13/japangi-server:prod
  
  build-client:
    if: ${{ startsWith(github.event.comment.body, '[build]') }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./japangi-client

    steps:
    - uses: actions/checkout@v3
      
    - name: install npm dependencies
      run: npm install
    
    - name: build client application
      run: npm run build

    - name: login docker
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_EMAIL }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: docker build and push to hub client applicaiton
      run: |
        docker build -t wwan13/japangi-client:prod .
        docker push wwan13/japangi-client:prod